
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.load_more_container {
  clear: both;
  margin-bottom: 50px;
  border-top: 5px solid #f5f5f5;
  padding-top: 20px;
}

.load_more_container span {
  cursor: pointer;
  background: #2196F3;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 60px;
  display: table;
  margin: 0 auto;
}

.no_result {
  font-size: 40px;
  color: #999592;
  text-align: center;
  padding-top: 40px;
}

.not_found_container {
  font-size: 70px;
  text-align: center;
  padding-top: 70px;
  color: #dddddd;
}

.card_block {
  margin: 110px 0px;
}

.card_block .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.card_block_shop .card_item_wrapper {
  float: left;
  width: 33.3%;
  margin-bottom: 20px;
}

/*============================
        CARD ITEM
==============================*/

.card_item_wrapper {
  flex-grow: 1;
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.card_item_wrapper .image {
  width: 100%;
  height: 280px;
  background-position: center !important;
  background-size: cover !important;
  border: 1px solid #f0f0f0;
}


.card_item_wrapper .tags {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}

.card_item_wrapper .tags .brand,
.card_item_wrapper .tags .name,
.card_item_wrapper .tags .price {
  text-align: center;
  margin: 5px;
}

.card_item_wrapper .tags .brand {
  font-size: 17px;
  font-weight: 700;
  color: #2196F3;
}

.card_item_wrapper .tags .name {
  font-size: 21px;
  font-weight: 700;
}

.card_item_wrapper .tags .price {
  font-weight: 300;
  font-size: 21px;
}

.card_item_wrapper .actions {
  display: flex;
  padding: 15px 0 10px 0;
}

.card_item_wrapper .actions .button_wrapp:nth-child(1) {
  flex-grow: 1;
  padding-right: 10px;
}

.card_item_wrapper.grid_bars {
  float: none;
  width: 100%;
  display: flex;
}

.card_item_wrapper.grid_bars .image {
  width: 420px;
  height: 211px;
  border: none;

}

.card_item_wrapper.grid_bars .action_container {
  flex-grow: 1;
  border: 1px solid #e6e6e6;
}

.card_item_wrapper.grid_bars .description{
  clear:both;
  padding: 0px 25px;
  border-top: 1px solid #eeeeee;
}

.card_item_wrapper.grid_bars .tags{
  border-bottom: 0px;
  padding: 5px 20px;
}

.card_item_wrapper.grid_bars .tags .brand {
  font-size: 21px;
}


.card_item_wrapper.grid_bars .tags .brand,
.card_item_wrapper.grid_bars .tags .name {
  float:left
}

.card_item_wrapper.grid_bars .tags .price {
  float:right;
}

.card_item_wrapper.grid_bars .actions {
  clear:both;
  float:right;
  padding: 10px 20px 0px 15px;
}

/*============================
        SHOP
==============================*/

.shop_wrapper {
  display:flex;
}

.shop_wrapper .left {
  flex-grow: 1;
}

.shop_wrapper .right {
  width: 800px;
}

.collapse_title span {
  text-transform: uppercase;
  font-weight: 700;
}

.grid_btn {
  float: right;
  padding: 10px 10px;
  font-size: 20px;
  color: #c6c6c6;
}
.grid_btn.active {
  color: #727272;
}

.shop_options {
  border-bottom: 1px solid #e8e8e8;
  margin: 0px 20px 20px 20px;
}

.my_link a {
  margin: 10px auto;
}

.page_wrapper {
  padding-top: 85px;
}

/*=============================
         REGISTER LOGIN
===============================*/

.register_login_container {
  display: flex;
  border: 1px solid #999592;
  border-top: 5px solid #999592;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 80px 0px 110px 0px;
  padding: 30px;
  min-height: 430px;
}

.register_login_container .left,
.register_login_container .right {
  flex:1
}

.register_login_container h2 {
  margin: 20px 0px;
  text-transform: uppercase;
  color: #686868;
}

.register_login_container p{
  font-weight: 300;
  font-size: 16px;
  width: 90%;
}

.formBlock {
  margin-bottom: 10px;
}

.form_block_two {
  display:flex;
}
.form_block_two .block{
  flex-grow: 1;
  box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
  padding-right:10px;
}
.form_block_two .block:nth-child(2) {
  padding-left:10px;
}

.label_inputs {
  display: inline-block;
  background: #999592;
  color: #fff;
  padding: 5px 5px;
}

.dialog_alert {
  padding: 51px;
  font-size: 30px;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}